<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.banbianjia.cloud.member.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="top.banbianjia.cloud.member.domain.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="personal_statement" jdbcType="VARCHAR" property="personal_statement"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="sex" jdbcType="BIT" property="sex"/>
        <result column="place_of_residence" jdbcType="VARCHAR" property="place_of_residence"/>
        <result column="industry" jdbcType="VARCHAR" property="industry"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
        <result column="profession" jdbcType="VARCHAR" property="profession"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="top.banbianjia.cloud.member.domain.User"
            useGeneratedKeys="true">
    insert into user (name, password, personal_statement, 
      avatar, sex, place_of_residence, 
      industry, company, profession
      )
    values (#{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{personal_statement,jdbcType=VARCHAR}, 
      #{avatar,jdbcType=VARCHAR}, #{sex,jdbcType=BIT}, #{place_of_residence,jdbcType=VARCHAR}, 
      #{industry,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{profession,jdbcType=VARCHAR}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="top.banbianjia.cloud.member.domain.User">
    update user
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      personal_statement = #{personal_statement,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=BIT},
      place_of_residence = #{place_of_residence,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      profession = #{profession,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, name, password, personal_statement, avatar, sex, place_of_residence, industry, 
    company, profession
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, name, password, personal_statement, avatar, sex, place_of_residence, industry, 
    company, profession
    from user
  </select>
    <select id="selectByNameAndPassword" resultMap="BaseResultMap">
      select id, name, personal_statement, avatar, sex, place_of_residence, industry,
    company, profession
    from user
    where name = #{name} and password=#{password}
    </select>
    <select id="selectTest" resultMap="BaseResultMap">
        select * from user
        <trim prefix="where" prefixOverrides="and|or">
            and id=#{name}
        </trim>
    </select>
</mapper>